* {
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    box-sizing: border-box;
}



.main-flex {

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    border: 2px solid blue;
    width: 20000px;

}

header {

    font-size: 8rem;

    /* border: 2px solid red; */

}

header > button {
    margin-left: 2rem;
    position: sticky;
    left: 2rem;

    /* border: 2px solid green; */

}

dialog {

    margin-top: 12rem;
    margin-left: 2rem;
}

.the-form {
    font-size: 4rem;
    padding: 1rem 1rem 1rem 1rem;
    


    
}
