* {
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {

    --BGgeneral: #E88D67;
    --cardBG: #F3F7EC;
    --lightblue: #006989 ;
    --darkblue:#005C78;

    /* https://colorhunt.co/palette/e88d67f3f7ec006989005c78 */

}


body{
    background-color: var(--BGgeneral);

}
.main-flex {

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    /* border: 2px solid blue; */
    /* width: 20000px; */

    

}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

    /* border: 2px solid red;  */

}

header > button {
    
    /* margin-left: 2rem; */
    position: sticky;
    left: 2rem;
    background-color: var(--cardBG);
    border:none;
    box-shadow: 0.5rem 0.5rem  ;
    border-radius: 1rem;
    /* border: 0.1rem solid black; */



    /* border-bottom: 7px solid black;  
    border-right: 7px solid black;   */

}

button:disabled {
    opacity: 0.4;
}

.delButton {
    
    left: 9rem;   
    /* margin-left: 1rem;  */


    /* border: 2px solid green;  */

}

#deleteCheckedbtn{
    font-size: 1rem;
    left: 16rem;
}

#cancelDeletebtn {
    font-size: 1rem;

    left: 23rem;

}



dialog {

    margin-top: 12rem;
    margin-left: 2rem;
}

.the-form {
    font-size: 4rem;
    padding: 1rem 1rem 1rem 1rem;
    


    
}

.section-flex {
    display: flex;
    flex-flow: row, wrap;
    justify-content: flex-start;
    /* border: 2px dashed green;  */
}

/*TODO style div cards in a basic way (shape and size) */

.card-style {
    
    border: 2px solid black; 

    border-radius: 10rem;
    box-shadow: 1rem -1rem  ;
    background-color: var(--cardBG);
    font-size: 4rem;
    height: 70rem;
    width: 45rem;
    margin-top: 1.5rem;
    margin-left: 2rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;



}


.micro-layout-style{

    /* border: 2px double purple; */
    border: none;
    

}

#MicroImageStyle {

    /* font-size: 4rem; */
    height: 28rem;
    width: 24rem;
    margin-top: 2rem;
    border: 2px double red;

}


.MicroLayoutItemsStyle {

    font-size: 2rem;
    height: 5rem;
    width: 30rem;
    margin-top: 1rem;
}

.checkbox-style{
    align-self: flex-end;
    height: 3rem;
    width: 3rem;
    /* visibility:hidden; */
    margin-right: 5rem;
    margin-top: 5rem;

}